<div class="sase w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <div style="float:right;"><button class="w3-bar-item w3-button content" 
  onclick="w3_close()">&times;</button></div>
  <app-search-form></app-search-form>
</div>

