<div id="main">
 
 <div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776; filters</button>
  <div class="w3-container">
    <a href="/"><h1 class="content">{{ title | uppercase }}</h1></a>
  </div>
</div>
  <router-outlet></router-outlet>
</div>
