.pase{
	display: table;
	width : 101%;
	background-color:  #94B2B2;
	box-shadow: 32px 0px 0px 0px #EDFFFF; 
	text-align: center;
	float: right;
	margin-top: -1%;
	margin-bottom: -1%;
	margin-right: -1%;
}

.content{
	color : #FFF4ED;
}

