<br>
<div class="catlist">
<a href="/category/{{in}}"><h2 class="content">{{cat.name}}</h2></a>
<app-products *ngFor="let Product1 of cat.products | slice:0:count;let pin=index"  [Product1]="Product1" [in]="in" [pin]="pin"></app-products> 
<br>
</div>