
<div class="card">
 <a href="/category/{{in}}/product/{{pin}}"><img src="../../assets/{{Product1.image}}" alt="Avatar">
  <div class="container">
    <h4 class="content"><b>{{Product1.name}}</b></h4> 
    <p class="content">Rs. {{Product1.price}}</p> 
  </div></a>
</div>