



.card {
    /* Add shadows to create the "card" effect */

    transition: 0.3s;
    width : 23%;
    float: left;
    margin: 2px 2px 16px 16px;
    display: table-cell;
  background-color: #EDFFFF;
  max-height: 50%;
  height: 50%;
    box-shadow: 0px 8px 8px 0px #00A0B2; 
}

.card img {
  width : 97%;
  height: 300px;
  margin: 3px 3px 0px;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0px 0px 0px 8px  #00A0B2; 
}

/* Add some padding inside the card container */
.container {
  margin : 3px 3px ;
}

.content{
  color : #907561;
  text-align: left;
}

@media screen and (max-width: 768px)
{
    .card{
        width: 40%;
    }
}
