<br>
<div>
<a href="/category/{{in}}"><h2 class="content">Products for you in {{cat.name}}</h2></a>
<app-products *ngFor="let Product1 of result; let pin=index"  [Product1]="Product1" [in]="in" [pin]="pin"></app-products> 
<br>
</div>
