
<div *ngIf="cate"  class="w3-container">
<form #searchForm="ngForm" (ngSubmit)="searchcriteria(searchForm)" class="w3-form">
  <label for="price" class="w3-large">Price</label>
  <br>
  <br>
  <div *ngFor="let c of cat.price;let in=index" class="w3-large">
  <input type="radio" name="price" id="price" value="{{c}}" ngModel>{{cat.pricename[in]}}<br>
</div>
   <br>
  <button type="submit" class="w3-button w3-black">Search</button>
</form>
</div>
<div *ngIf="!cate">
<p class="content">Select a category to apply filters</p>
</div>
