body 
{
		background-color:  #FFFFF;
}/* You can add global styles to this file, and also import other style files */

a
{
	text-decoration: none;
}

.base {
	display: inline-table;
	height: 100%;
	min-height: 100%;
	float : left;
	width : 100%;

}

