<div class="card">
  <img src="../../assets/{{Product1.image}}" alt="Avatar">
  <div class="container">
    <h4 class="content"><b>{{Product1.name}}</b></h4> 
    <p class="content">{{Product1.Company}}</p> 
     <p class="content">Rs. {{Product1.price}}</p> 
  </div>
</div>
<div class="content" style="margin-left: 2%"><p style="font-size:32px"><b>People also see</b></p></div>
<div class="others">
<app-category-display [in]="cain"></app-category-display>
</div>
