.card {
    /* Add shadows to create the "card" effect */
    transition: 0.3s;
    width : 95%;
    float: left;
    height: 100%;
    margin-top : 2%;
    margin-left: 3%;
    display: ;
  background-color: #EDFFFF;
    box-shadow: 8px 8px 8px 0px #00A0B2; 
}

.card img {
  margin: 3px 3px 0px;
  float: left;
  height: 300px;
  width: 350px;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0px 0px 0px 8px  #00A0B2; 
}

/* Add some padding inside the card container */
.container {
  margin : 3px 3px 3px ;
}

.content{
  color : #B29783;
  text-align: left;
  font-size: 32px;
}

.others {
  margin-top:-5%;
}

@media-screen and (max-width: 700px){
  .card img {
  margin: 3px 3px 0px;
  float: left;
  height: 300px;
  width: 100px;
}

}